.fontStyle {
  font-weight: bold;
  font-size: 20px;
}

.navLinkStyle {
  color: #fff;
  text-decoration: none;
}

.linkStyle {
  color: #5e5e5e;
  text-decoration: none;
  font-weight: 600;
}

.selected {
  color: green;
}